<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand p-4">
            <a href="{{ .Site.Home.RelPermalink }}" class="navbar-item">
                {{ with .Site.Params.site_logo }}
                    <img src="{{ . }}" width="112" height="28" alt="{{ $.Site.Title }}"/>
                {{ else }}
                    {{ .Site.Title }}
                {{ end }}
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                {{ partial "i18nlist.html" . }}
                {{ if .Site.Menus.main }}
                    {{ range .Site.Menus.main }}
                        <a class="navbar-item" href="{{ .URL }}" title="{{ .Name }} page">
                            {{ .Name }}
                        </a>
                    {{ end }}
                {{ end }}

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/codemirror-5.58.3/demo/a.html#material">
                            Code panel
                        </a>
                        {{/*<hr class="navbar-divider">*/}}
                        {{/*<a class="navbar-item">*/}}
                        {{/*Report an issue*/}}
                        {{/*</a>*/}}
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                {{ partialCached "social-follow-bulma.html" . }}
                <div class="navbar-item">
                    {{/*<div class="buttons">*/}}
                    {{/*<a class="button is-primary">*/}}
                    {{/*<strong>Sign up</strong>*/}}
                    {{/*</a>*/}}
                    {{/*<a class="button is-light">*/}}
                    {{/*Log in*/}}
                    {{/*</a>*/}}
                    {{/*</div>*/}}
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
