<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand p-4">
            <a href="{{ .Site.Home.RelPermalink }}" class="navbar-item">
                {{ with .Site.Params.site_logo }}
                    <img src="{{ . }}" width="112" height="28"  alt="{{ $.Site.Title }}" />
                {{ else }}
                    {{ .Site.Title }}
                {{ end }}
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                {{ partial "i18nlist.html" . }}
                {{ if .Site.Menus.main }}
                    {{ range .Site.Menus.main }}
                        <a class="navbar-item" href="{{ .URL }}" title="{{ .Name }} page">
                            {{ .Name }}
                        </a>
                    {{ end }}
                {{ end }}

                {{/*<div class="navbar-item has-dropdown is-hoverable">*/}}
                {{/*<a class="navbar-link">*/}}
                {{/*More*/}}
                {{/*</a>*/}}

                {{/*<div class="navbar-dropdown">*/}}
                {{/*<a class="navbar-item">*/}}
                {{/*Contact*/}}
                {{/*</a>*/}}
                {{/*<hr class="navbar-divider">*/}}
                {{/*<a class="navbar-item">*/}}
                {{/*Report an issue*/}}
                {{/*</a>*/}}
                {{/*</div>*/}}
                {{/*</div>*/}}
            </div>

            <div class="navbar-end">
                {{ partialCached "social-follow-bulma.html" . }}
                <div class="navbar-item">
                    {{/*<div class="buttons">*/}}
                    {{/*<a class="button is-primary">*/}}
                    {{/*<strong>Sign up</strong>*/}}
                    {{/*</a>*/}}
                    {{/*<a class="button is-light">*/}}
                    {{/*Log in*/}}
                    {{/*</a>*/}}
                    {{/*</div>*/}}
                </div>
            </div>
        </div>
    </div>
</nav>

